.banner {
  @include xs {
    &_block {
      width: 100%;
      min-height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
      padding-bottom: 50px;
      font-weight: bold;
      h2 {
        margin-bottom: 20px;
        font-size: 35px;
      }
      p {
        width: 60%;
      }
      &_design {
        background-image: url(/src/assets/images/mobile/image-graphic-design.jpg);
        color: $Dark-desaturated-cyan;
      }
      &_photo {
        background-image: url(/src/assets/images/mobile/image-photography.jpg);
        color: $Dark-desaturated-cyan;
      }
    }
  }
  @include md {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &_block {
      width: 50%;
      &_design {
        background-image: url(/src/assets/images/desktop/image-graphic-design.jpg);
      }
      &_photo {
        background-image: url(/src/assets/images/desktop/image-photography.jpg);
      }
    }
  }
}
