header {
  @include xs {
    min-height: 600px;
    background-image: url(/src/assets/images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px 20px;
    .menu-bar {
      display: block;
      cursor: pointer;
    }
  }
  @include md {
    padding: 30px 40px;
    background-image: url(/src/assets/images/desktop/image-header.jpg);
    .menu-bar {
      display: none;
    }
  }
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include xs {
      nav {
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        width: 92%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0;

        &.active {
          display: flex;
        }
        p {
          color: $Dark-grayish-blue;
          font-weight: bold;
          margin-bottom: 30px;
        }
      }
      button {
        font-size: 18px;
        padding: 18px 38px;
        border: none;
        color: $Very-dark-desaturated-blue;
        font-weight: bold;
        border-radius: 50px;
        cursor: pointer;
        background-color: $Yellow;
      }
    }
    @include md {
      nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        position: static;
        transform: translateX(0);
        background-color: transparent;
        width: auto;
        padding: 0;
        &.ngu {
          background-color: red;
        }
        p {
          margin-left: 50px;
          font-size: 17px;
          color: white;
          margin-bottom: 0;
        }
        button {
          margin-left: 50px;
          background-color: white;
          &:hover {
            background-color: $Yellow;
          }
        }
      }
    }
  }
}
